
 
.background {
    background-color: white;
    flex-direction:column;
    display: flex;
    flex-basis: auto;
    flex-wrap: auto;
    align-items: stretch;
    /* justify-content: center; */
    /* 
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;  
    background-position: center;  */
    
}

 .container{
    background-color: white;
    box-shadow: 4px 4px 8px rgb(77, 14, 91);
    flex-direction:column;
    display: flex;
    flex-basis: auto;
    align-items: stretch;
    justify-content:flex-start;
}

.tituloLanding{
    
    flex-wrap:1 1 200px ;
    flex-shrink: 1 1 200px;
    color: rgb(114, 13, 118);
    text-shadow: 4px 4px 8px rgb(212, 53, 244);;
    box-shadow: 4px 4px 8px rgb(77, 14, 91);
    letter-spacing:3px;
    text-align: center;
    align-items: flex-start;
    justify-content:flex-start;
}

.buttonLanding{
    flex-wrap: 1 1 200px;
    flex-shrink: 1 1 200px;
    align-items: flex-end; 
    justify-content:end;
    background-color:rgba(0, 0, 0, 0.916);
    box-shadow: 4px 4px 8px rgb(77, 14, 91);
    height: 30px;
    width: 300px;
    border-color: rgb(218, 70, 198);
    border-radius: 8px;
    color: rgb(212, 189, 234);

}
.pikachuEsp{
    flex-wrap: 3 1 200px;
    flex-shrink: 3 1 200px;
    align-items:stretch;
    justify-content:flex-start;
    width: 700px;
    margin-bottom: -70px;
}

.myName{
    color: rgb(130, 32, 65);
    letter-spacing:5px;
    text-shadow:4px 4px 8px rgb(77, 14, 91);
    align-items: flex-end;
    justify-content:left;
    /* margin-bottom: 0px;
    margin-top: 0%; */
} 



/*

/* .imgLanding{
    background-position: center;
    height: 20%;
    width: 1%;

    
}  */