*{
    box-sizing: border-box;
    
}

.containerNav{

    background-image: url(https://i.pinimg.com/originals/11/b9/1f/11b91f068caec29920b0baa9edc55928.png);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #7f00b2;
    padding: 10px;
    box-shadow: 2px 2px 4px #7f00b2;
   

}

.containerSearch{
    background-color: #77dd77ac;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    box-shadow: 2px 4px 6px #7f00b2;
    border: 0px;
    border-radius: 15%;
}

.searchImput::placeholder{
    color: #7f00b2;
    font-style: italic;
}


.pokeSearch{
    color: #7f00b2;
    /* border: 0 px; */
    border-color:#ff69b4;
    border-radius: 5%;
    /* box-shadow: #ff69b4; */
}

.searchImput{
    color: #7f00b2;
    font-size: 15px;
    letter-spacing:5px;
    text-shadow:4px 4px 8px #7f00b2;
    border: 0px;
}


.buttonNav{
    background-color: #77dd77ac;
    color:#7f00b2;
    width: 200px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
    text-shadow:4px 4px 8px #7f00b2;
    box-shadow: 4px 4px 8px #7f00b2;
    border: 0px;
    border-radius: 15%;
}